.cards{
display: flex;

justify-content: space-around;
}
body{
background-color: rgba(228, 194, 217, 0.58);
}
.cards__card{
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    width: 200px;
    margin: 30px;

  
}
.cards__card button{
    background-color: black;
    color: white;
    border-radius: 20px;
}
i{
    font-size: 40px;
}

button{
    border: none;
    padding: 10px;
    width: 150px;
    font-size: 10px;
    
}
p{
    font-size: 10px;
}
h1{
    text-align: center;
}