body{
    background-color: rgb(50, 50, 50);
    color: white;
    margin: 160px;
}
div{
    padding-left: 20px;
    text-align: center;
    letter-spacing: 20px;
    border-bottom:10px solid rgb(5, 145, 91);
}