html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
      background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://i.ytimg.com/vi/QomkJlNMpUg/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLD5OnDV9YG1BQ0LfyjzIcyzj8CEJQ);
}

.cards {
  display: flex;
  margin: 150px;
  justify-content: space-around;
}
.card {
    background-color: white;
  width: 30%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 260px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card__top {
}
.card__top img {
  width: 100%;
}
.card__mid {
  margin: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__mid span {
  color: rgb(248, 9, 208);
  margin-bottom: 0px;
  font-size: 10px;
}
.card__mid p {
  margin-top: 10px;
  text-align: center;
  font-size: 10px;
  color: gray;
}
h3 {
  font-weight: 600;
}
.card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(241, 7, 182);
  color: white;
  font-size: 12px;
  border-top: 1px solid rgba(128, 128, 128, 0.516);
}

.card__bottom__parts {
  width: 30%;
  border-left: 1px solid rgba(128, 128, 128, 0.516);
  text-align: center;
  padding: 10px;
}
.card__bottom__parts span {
  font-size: 14px;
}
.card__bottom__parts p {
  font-size: 10px;
  padding-top: 2px;
}
